.container {
    text-align:center;
}

.fondo{
    height:fit-content;
    width:800px;
    margin:20px auto;
    background-color:lightsalmon;
    border-radius: 15px;
    padding: 10px;
}

.opciones {
    flex-direction: column;
    display: flex;
}
.opciones button{
    background-color: aliceblue;
    border: 0px;
    margin: 0px 10px 15px 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: medium;
    width: 260px;
}
.opciones button:hover{
    background-color: #282c34;
    color: aliceblue;
}
.opciones button:focus{
    background-color: #61dafb;
}